@charset "UTF-8";
/*Plantilla Main*/

body {
  font-family: "Montserrat", sans-serif;
}

.section-margin {
  margin-top: 160px;
  margin-bottom: 160px;
  margin-left: 100px;
  margin-right: 100px;
}

.primary-color {
  background-color: #364c59;
}

/*Seccion NavBar*/
.secondary-color {
  background-color: #dbca11;
}

.border-left-custom {
  border-left: 2px solid #364c59;
}

/*Seccion NavBar*/

nav {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

nav ul li {
  display: inline-block;
  padding: 0px 18px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: #dbca11;
}

/*SECCION ESTUDIOS*/
.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
}
.layout {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  justify-content: space-around;
  align-content: space-evenly;
}
.layout tbody {
  background-color: red;
}
/*estudios*/
#estudioscolum {
  width: 100%;
  display: grid;
  gap: 20px 40px;
  justify-content: center;
  align-content: center;
  text-align: left;
}
.perfile {
  grid-area: perfile;
}
.perfilp {
  grid-area: perfilp;
}
.duracion {
  grid-area: duracion;
}
.requisitos {
  grid-area: requisitos;
}
.lineaBeca {
  grid-area: lineaBeca;
}
.document {
  grid-area: document;
}
/*Experiencias*/
article {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
}
/*Titulo experiencia, espacio*/
#experi span {
  padding-bottom: 80px;
  box-shadow: inset 0 -2px 0 #dbca11;
}
/*Card de experiencias*/

#custom-cards .custom-card:hover {
  transform: scale(1.1, 1.1);
}
#custom-cards:hover > .custom-card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}
.custom-card-text {
  margin-bottom: 10px;
  text-align: left;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
#custom-small {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #364c59;
}
.custom-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.custom-card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: black;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.custom-card-body .custom-card-title {
  font-weight: 700;
  font-size: 20px;
}
.custom-card-body .custom-card-text {
  line-height: 1.5;
}
.custom-card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  z-index: -1;
  transition: all 0.1s cubic-bezier(0.23, 1, 0.32, 1);
}
.custom-card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background-color: white;
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}
.custom-card:hover::before {
  height: 100%;
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.custom-card:hover::after {
  filter: blur(30px);
}
.custom-card:hover {
  box-shadow: none;
}
.custom-card-body .custom-btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #ffffff;
}
.custom-card-body .custom-btn:active {
  box-shadow: none;
}
.custom-card-img-top img {
  width: 254px;
  height: 158px;
}
/* Termino de cartas de seccion experiencia */


/*Calendario de Eventos*/

.CeldasCalendario{
  width: 220px;
  height: 220px;

