/*Plantilla Main*/

body {
    font-family: 'Montserrat', sans-serif;
}


.section-margin{
    margin-top: 160px;
    margin-bottom: 160px;
    margin-left: 100px;
    margin-right: 100px;
}

.primary-color{
    background-color: #364c59;
}

.secondary-color{
    background-color: #dbca11;
}

.border-left-custom {
    border-left: 2px solid #364c59;
}
  

/*Seccion NavBar*/

nav{
    position: sticky;
    top: 0;
    width:100%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

ul li{
    display: inline-block;
    padding: 0px 18px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #dbca11;
}

/*Seccion Nosotros*/

#Nosotros{
    margin: 260px 0px; 
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    height: 750px;
}




  