/*Plantilla Main*/

body {
    font-family: 'Montserrat', sans-serif;
}


.section-margin{
    margin-top: 160px;
    margin-bottom: 160px;
    margin-left: 100px;
    margin-right: 100px;
}

.primary-color{
    background-color: #364c59;
}

.secondary-color{
    background-color: #dbca11;
}

/*Seccion NavBar*/

nav{
    position: sticky;
    top: 0;
    width:100%;
    display: flex;
    background-color: black;
    font-weight: bold;
}

ul li{
    display: inline-block;
    padding: 0px 18px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #dbca11;
}
  