* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #364c59; /* Puedes cambiar el color de fondo según tus preferencias */
  z-index: 1000; /* Ajusta el valor según sea necesario para evitar superposiciones con otros elementos */
}
a {
  list-style: none;
  list-style-type: none;
  color: white;
  text-decoration: none;
}
/*offcanvas*/
.offcanvas.offcanvas-end {
  width: 250px; /* Establece el ancho deseado */
}

/*container h1 academico*/
.container h1 {
  margin-top: 75px;
}
btn.btn-dark {
  float: left;
  margin-right: 10px;
}
thead {
  background-color: #364c59;
  color: white;
  text-align: center;
}
tbody {
  width: max-content;
  height: max-content;
}
.table {
  margin: 10px;
  padding: 0px;
}
a.navbar-brand #cerrar {
  nav-left: auto;
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
  list-style: none;
}
nav a:hover {
  cursor: pointer;
  transition: color 0.3s;
  color: #dbca11;
}
.offcanvas-body ul {
  text-align: left;
}
a.nav-link.active:hover {
  cursor: pointer;
  transition: color 0.3s;
  color: #dbca11; /* Color de texto al pasar el cursor */
}
a.navbar-brand:hover {
  cursor: pointer;
  transition: color 0.3s;
  color: #dbca11;
  text-decoration: none;
}
